.main {
    background-image: url("../images/Forget_Password.jpg");
    background-position: center;
    background-size: 124%;
    background-repeat: no-repeat;
}
.inner {
    border: 4px solid;
    border-radius: 45px;
    margin: 10px auto;
    margin-top: 10%;
    padding: 5px;
    width: 60%;
    color: white;
}
li {
    border: 2px solid;
    border-radius: 10px;
    font-weight: bolder;
    padding: 10px;
    margin: 10px;
    color: white;
}
h2 {
    text-align: center;
    text-decoration: underline;
}
a {
    text-decoration: none;
}
.outer,  .innerblock{
    display: inline-block;
}
.outer {
    width: 300px;
    font-size: large;
}
.upsw {
    display: none;
    color: red;
    position: absolute;
    top: 278px;
    left: 833px;
    border: 2px solid;
    background: honeydew;
}
.rpsw {
    display: none;
    color: red;
    position: absolute;
    top: 334px;
    left: 833px;
    border: 2px solid;
    background: honeydew;
}
.valid {
    display: none;
    color: red;
    position: absolute;
    top: 334px;
    left: 833px;
    border: 2px solid;
    background: honeydew;
}