li {
    border: 1px solid black;
   margin-left: -40px;
   margin-top: 10px;
    padding: 10px;
    list-style-type: none;
    font-size: 20px;
    color: navy;

}

span {
    padding: 10px;
    list-style-type: none;
    font-size: 20px;
}
h3{
	margin-top: 0px;
	text-align: center;
	background: green;
	color: white;
	padding: 10px;

}
ul{
	background: pink;
}

#footer{
	margin-top: 170px;
	border: 1px solid black;
	background: green;
	color: white;
	font-size: 20px;
	text-align: center;
	padding: 4px;
}