<!-- Forgot Page -->
<div class="forgotPage">
    <div class="container innerForgotPage">
        <div class="row">
            <div class="forgotContent">
                <div class="forgotIcon">
                    <img src="images/Logo/logo.png" alt="" style="width: 150px; margin-bottom: 20px;">
                </div>
                <div class="forgotContentForm">
                    <h1>Password assistance</h1>
                    <p>Enter the email address or mobile phone number associated with your Sfe account.</p>

                    <div class="msgBlock"></div>

                    <div class="textbox">
                        <input type="text" name="umail" id="umail" class="umail">
                        <span data-placeholder="Enter Mail ID"></span>
                    </div>

                    <div class="loginBtns newPass">
                        <input type="button" class="remember-btn" value="Generate New Password"
                            onclick="generatePassword();">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>