<div class="innerLoginPage">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="loginContent">
                    <div class="loginCredential">
                        <div class="loginForm">
                            <h1>Login</h1>
    
                            <div class="errBlock"></div>
    
                            <div class="textbox">
                                <input type="text" name="uname" id="uname" class="uname">
                                <span data-placeholder="Username"></span>
                            </div>
    
                            <div class="textbox">
                                <input type="password" name="upassword" id="upassword" class="upassword">
                                <span data-placeholder="Password"></span>
                            </div>
    
                            <div class="rememberMe">
                                <input type="checkbox" name="uRememberMe"><label for="uRememberMe">Remember
                                    Me</label>
                            </div>
    
                            <div class="loginBtns">
                                <input type="submit" class="login-btn" value="Login" onclick="loginForm();">
                            </div>
    
                            <div class="bottomText">
                                Forgotten your login details?
                                <input type="button" style="font-size: 18px;" class="forgot-btn" value="Get Help Signing In" onclick="loadPageTemplate('forgotForm');">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-md-6 col-sm-12">
                <div class="loginDesc">
                    <div class="loginIcon">
                        <img src="images/Logo/logo.png" alt="">
                    </div>
                    <div class="LoginIntro">
                        <h1>"Decor yo’ self.”</h1>
                        <h4>We'll get you stared</h4>
                        <p>Online Shopping Site for Fashion & Lifestyle in India. Buy Shoes, Clothing, Accessories
                            and lifestyle
                            products.</p>
                    </div>
                    <div class="loginBtns register">
                        <input type="button" class="signin-btn" value="Create Account" onclick="loadPageTemplate('signinForm');">
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay"></div>
    </div>
</div>