<div class="signinPage">
    <div class="signin-info">
        <div class="row">
            <div class="col-md-8 welcomenote">
                <h1>Welcome to</h1>
                <div class="welcome-image">
                    <img src="images/Logo/logo.png" alt="">
                    <h4>Style Fashion Era</h4>
                    <p>“You can always find something you want.”</p>
                </div>
                <!-- <a href=""><i class="fa fa-play"></i></a> -->
                <button class="vbtn" onclick="fVideo();"><i class="fa fa-play"></i></button>

                <div class="videopopup" id="popup">
                    <div class="videopopup-overlay"></div>
                    <div class="welcomevideo-content">
                        <div class="close-btn" onclick="fVideo()">&times;</div>
                        <div class="welcomevideoblock">

                            <div class="welcomevideologo">
                                <img src="images/Logo/logo.png" alt="">
                            </div>

                            <div class="welcomevideo">
                                <video controls="controls" autoplay="" loop="" muted="" playsinline="">
                                    <source type="video/mp4"
                                        src="video/M&S Women's Fashion_ The New Autumn Season A_W16 TV Ad.mp4">
                                </video>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="welcomenote-overlay"></div>
            </div>
            <div class="col-md-4 signin-credential">
                <div class="credential-info">
                    <h4>Create Your Account</h4>
                </div>
                <div class="credentialsocialicon">
                    <div class="sicon facebook" title="Facebook"><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
                    <div class="sicon gmail" title="Gmail"><a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a></div>
                    <div class="sicon linkedin" title="LinkedIn"><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></div>
                </div>
                <form action="" class="signinform">

                    <div class="top-text">
                        or use your email for registration
                    </div>

                    <div class="signinmain">
                        <div class="textbox">
                            <input type="text" name="rname" id="rname" class="rname">
                            <span data-placeholder="Name"></span>
                        </div>

                        <div class="textbox">
                            <input type="email" name="remail" id="remail" class="remail">
                            <span data-placeholder="Email"></span>
                        </div>

                        <div class="textbox">
                            <input type="password" name="rpassword" id="rpassword" class="rpassword">
                            <span data-placeholder="Password"></span>
                        </div>

                        <div class="rgender">
                            <input type="radio" name="rgender"><label for="rgender">Male</label>
                            <input type="radio" name="rgender"><label for="rgender">Female</label>
                        </div>

                        <div class="login-btns">
                            <input type="submit" class="login-btn rlogin" value="Login">
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>