h2 {
    text-align: center;
    background-color: rgb(120, 131, 131);
}
ul {
    border: 1.5px solid;
    width: 600px;
    padding: 3px;
    position: absolute;
    top: 10%;
    left: 28%;
    background-color: rgb(240, 241, 241);
}
div {
    border: 1px solid #ccc;
    margin: 5px;
    padding: 3px;
    
}
.paySlip {
     top: 50%; 
    display: none;
}
li {
    border: 1px solid #ccc;
    margin: 3px;
    padding: 3px;
    list-style: none;
}

