.hContainer,
.mainBar,
.fContainer {
    position: absolute;
    left: 10px;
    right: 10px;
    border: 1px solid;
    padding: 5px;
}

.mainBar {
    top: 50px;
    bottom: 55px;
}

.fContainer {
    bottom: 10px;
    text-align: center;

}

.title {
    font-weight: bold;
    text-align: center;
}

.lblock,
.rblock {
    border: 1px solid;
    padding: 1;
}